## Directories

WORK_DIR: 03_Annotation/with_RNA/transcriptomes/ #working dir path
TEMP_DIR: tmp/ #path to temporary directory
RAW_DATA_DIR: 03_Annotation/with_RNA/transcriptomes/raw_data/ #raw reads path
RAW_DATA_extension: .fastq.gz #extension / file type of your raw data
RAW_DATA_forward_extension: _1.fastq.gz #forward file extension of your RNA-seq files
RAW_DATA_reverse_extension: _2.fastq.gz #reverse file extension of your RNA-seq files
rRNA_DB: databases/rRNA_db/SILVA_138.2_Ref_NR99_tax_silva.fasta #path to your rRNA database
LOG_FILE: tmp/log/ #path to your log dir
TRIM_ADAPTORS_PATH: databases/trimmomatic/adapters/ #path to the trimmomatic adaptor directory
GENOME_FILE:  #Path to your genome file (used in pipeline2)
SCRIPT_PATH:  # path to R scripts required for this program
GFF_FILE:  # Path to your gff file (used in pipeline2)
GENOME_EXTENSION: .fna #Extension of you genome file
BASENAME:  # string found in all your rnaseq files (all your rnaseq files must have this string in their names, it can be the name of a species for example)
TO_MERGE: #If you want to merge some files (put the commun extension of files to merge, ex: P1_S1_fwd.fq P1_S2_fwd.fq, P1 would be precised if you want to merge by P1 samples)
RNA_FILTR: sortmerna # method to use to filter rRNA (sortmerna or hisat)
TRIMMOMATIC_PATH: envs/conda/trimmomatic_0.39/share/trimmomatic/trimmomatic.jar # path to trimmomatic executable

## options

N_THREADS: #number of threads you want to use
PAIRED_END: yes #Are the raw reads paired-end? yes/no
TRIM_ADAPTORS_PE: TruSeq3-PE.fa #Adaptor file you want to use. PE for paired-end, SE for single-end. PE
TRIM_ADAPTORS_SE: TruSeq3-SE.fa #Adaptor file you want to use. SE
TRIMMOMATIC_OPTIONS: -threads $N_THREADS -phred33 ILLUMINACLIP:$TRIM_ADAPTORS_PATH/${TRIM_ADAPTORS_PE}:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36 #trimmomatic options, do not precise PE/SE, -trimolog and -summary options
SORTMERNA_OPTIONS: --fastx --num_alignments 10 --out2 --paired_in --threads $N_THREADS #sortmerna options, do not precise --ref, --reads, --workdir
# --out-zip, --aligner and --other options
HISAT_OPTIONS: --phred33 --rna-strandness RF --dta -t #hisat options, do not precise -1, -2, -S,and --novel-splicesite-outfile options

## job submission 
MODULES: # list of modules to load ## deprecated
WORK_MANAGMENT: yes # are you working on a system which uses a work managment protocole?
WORK_MANAGEMENT_NAME: SGE # SLURM is the only one supported for now
JOB_OPTIONS: # options of your jobs, the pipeline will send multiple jobs per step ## deprecated
