# Weight for each hint source
# Values have to be >= 0
P 5
E 10
C 10
M 5
# Required fraction of supported introns or supported start/stop-codons for a transcript
# Values have to be in [0,1]
intron_support 0.2
stasto_support 1
# Allowed difference for each feature 
# Values have to be in [0,1]
e_1 0.3
e_2 1
e_3 0.2
e_4 0.2
e_5 0.18
e_6 0.18
